---
import { languages } from '@/consts';
import { getLocaleFromUrl, i18n } from '@/i18n';
import { Icon } from 'astro-icon/components';
import Dropdown from '../ui/Dropdown.astro';
import LocaleLink from '../ui/LocaleLink.astro';

const url = Astro.url.pathname;
const locale = getLocaleFromUrl(Astro.url);
const t = i18n(Astro.url);
---

<Dropdown class="w-32" ariaLabel={t('nav.language')}>
  <Icon name="i18n" class="size-5" />
  <ul slot="dropdown">
    {Object.entries(languages).map(([code,{name, flag, unicode}]) => (
      <li>
        <LocaleLink href={url} locale={code} class={locale === code ? 'active flex lang-button' : 'flex lang-button'}>
          <img
            loading="lazy"
            width="20"
            height="20"
            alt={flag}
            src={`https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/${unicode}.svg`}
          />
          <span class="flex flex-1 justify-between pl-2">{name}</span>
        </LocaleLink>
      </li>
    ))}
  </ul>
</Dropdown>

