---
import { type NavMenu, defaultLocale } from '@/consts';
import { getLocaleFromUrl, i18n } from '@/i18n';
// import { tvButton } from '@/styles/tv';
import { Icon } from 'astro-icon/components';

type Props = { item: NavMenu };

const { item } = Astro.props;
const locale = getLocaleFromUrl(Astro.url);
const t = i18n(Astro.url);

const { pathname } = Astro.url;
const isDefaultLocale = locale === defaultLocale;
const link = isDefaultLocale ? item.link : `/${locale}${item.link}`;
const isActive =
  link === pathname || (item.link !== '/' && pathname.startsWith(link));
---

<a href={link} class:list={['flex h-full w-24 font-medium center', {'text-primary': isActive, 'text-heading': !isActive }]}>
  <span class="z-1 inline-flex select-none items-center gap-1 self-center align-middle capitalize">
    <Icon
      name={item.icon}
      class:list={['h-5 w-5', {'hidden': !isActive }]}
      style="view-transition-name: nav-item-icon"
    />
    <span style={`view-transition-name: nav-item-text-${item.text}`}>
      {t(`nav.${item.text}`) || item.text}
    </span>
  </span>

</a>
