---
import { i18n } from '@/i18n';
import { getStatistics } from '@/lib/statistics';
import { Icon } from 'astro-icon/components';

const t = i18n(Astro.url);
const { articles, words, tags, categories } = await getStatistics(
  Astro.currentLocale
);

const contactInfo: {
  name: string;
  icon: string;
  link: string;
  color: string;
}[] = [
  {
    name: 'GitHub',
    icon: 'mingcute:github-line',
    link: 'https://github.com/willin',
    color: '#000000'
  },
  {
    name: 'Telegram',
    icon: 'mingcute:telegram-line',
    link: 'https://t.me/willinwang',
    color: '#24A1DE'
  },
  {
    name: 'Twitter',
    icon: 'mingcute:twitter-line',
    link: 'https://twitter.com/willinwang',
    color: '#1DA1F2'
  },
  {
    name: 'Email',
    icon: 'mingcute:mail-send-line',
    link: 'mailto:i@v0.md',
    color: '#f87171'
  }
];
---

<div class="bg-card shape-card p-6 sm:p-8 main-card-onload rounded-card">
  <div class="flex items-center justify-center gap-4 sm:gap-8 lg:flex-col lg:gap-4">
    <div class="mb-0 w-32 lg:w-[unset]">
        <img src="/logo.svg" alt="Willin Wang" class="!border-none !shadow-none rounded-full transition-shadow hover:shadow-none lg:w-full lg:rounded-xl lg:shadow-lg" />
    </div>
    <div class="flex shrink-0 flex-col gap-2 lg:items-center">
        <h5 class="relative text-4xl font-semibold text-heading">
            Willin Wang
        </h5>
        <div class="flex gap-4">
            <div class="flex flex-col items-center">
                <span class="text-xl text-content">
                    {articles}
                </span>
                <span class="text-sm text-comment opacity-80">{t('content.articles')}</span>
            </div>
            <div class="flex flex-col items-center">
                <span class="text-xl text-content">
                    {(words / 10000).toFixed(1)}k
                </span>
                <span class="text-sm text-comment opacity-80">{t('content.words')}</span>
            </div>
            <div class="flex flex-col items-center">
              <span class="text-xl text-content">
                  {categories.length}
              </span>
              <span class="text-sm text-comment opacity-80">{t('content.category')}</span>
          </div>
            <div class="flex flex-col items-center">
                <span class="text-xl text-content">
                    {tags.length}
                </span>
                <span class="text-sm text-comment opacity-80">{t('content.tag')}</span>
            </div>
        </div>
        <div class="flex gap-2">
            { contactInfo.map((social) => (
              <a href={social.link} target="_blank" class="flex size-9 rounded-lg border border-primary/30 bg-primary/20 p-1.5 transition-all center hover:scale-105 hover:bg-primary/25" rel="noreferer">
                  <Icon name={social.icon} class="size-full" style={`color: ${social.color}`} />
              </a>
            )) }
        </div>
    </div>
  </div>
</div>
